@import 'tailwindcss';
@config "../tailwind.config.ts";

/* Light mode (default) */
:root {
  /* Primary */
  --color-primary: 59 130 246; /* blue-500 */
  --color-primary-hover: 37 99 235; /* blue-600 */

  /* Secondary */
  --color-secondary: 234 179 8; /* yellow-500 */
  --color-secondary-hover: 217 119 6; /* yellow-600 */

  /* Accent */
  --color-accent: 30 41 59; /* slate-800 */
  --color-accent-hover: 2 6 23; /* slate-900 */

  /* Neutral */
  --color-neutral: 17 24 39; /* slate-900 (text) */
  --color-muted: 100 116 139; /* slate-500 (muted text) */

  /* Surface  */
  --color-surface: 245 245 245; /* gray-100 */
  --color-surface-contrast: 255 255 255; /* card bg white */

  /* Danger / Error */
  --color-danger: 245 20 20; /* red-500 */
  --color-danger-hover: 239 68 68; /* red-600 */

  /* Semantic extras */
  --color-success: 16 185 129; /* green-500 */
  --color-success-hover: 5 150 105;
}

/* Dark mode */
.dark {
  --color-primary: 165 180 252; /* indigo-200 */
  --color-primary-hover: 129 140 248; /* indigo-300 */

  --color-secondary: 30 41 59; /* slate-800  */
  --color-secondary-hover: 2 6 23; /* slate-900 */

  --color-accent: 253 224 71; /* yellow-300 */
  --color-accent-hover: 250 204 21;

  --color-neutral: 229 231 235; /* slate-200  */
  --color-muted: 148 163 184; /* slate-400 */

  --color-surface: 17 24 39; /* slate-900  */
  --color-surface-contrast: 30 41 59; /* dark-slate */

  --color-danger: 248 113 113;
  --color-danger-hover: 239 68 68;

  --color-success: 110 231 183;
  --color-success-hover: 52 211 153;
}

/* Animation Custom  */
@layer components {
  .animation-card {
    @apply hover:shadow-xl hover:-translate-y-2 transition duration-300 dark:hover:bg-slate-700/10;
  }
}
